// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as SegmentationAPI from "../../../index.js";

export declare namespace BillingClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class BillingClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<BillingClient.Options>;

    constructor(options: BillingClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * @param {SegmentationAPI.CreateCheckoutRequest} request
     * @param {BillingClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link SegmentationAPI.UnauthorizedError}
     * @throws {@link errors.SegmentationAPIError}
     * @throws {@link errors.SegmentationAPITimeoutError}
     *
     * @example
     *     await client.billing.createCheckout({
     *         "Idempotency-Key": "Idempotency-Key"
     *     })
     */
    public createCheckout(
        request: SegmentationAPI.CreateCheckoutRequest,
        requestOptions?: BillingClient.RequestOptions,
    ): core.HttpResponsePromise<SegmentationAPI.BillingUrl> {
        return core.HttpResponsePromise.fromPromise(this.__createCheckout(request, requestOptions));
    }

    private async __createCheckout(
        request: SegmentationAPI.CreateCheckoutRequest,
        requestOptions?: BillingClient.RequestOptions,
    ): Promise<core.WithRawResponse<SegmentationAPI.BillingUrl>> {
        const { "Idempotency-Key": idempotencyKey } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "Idempotency-Key": idempotencyKey }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SegmentationAPIEnvironment.Default,
                "v1/billing/checkout",
            ),
            method: "POST",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as SegmentationAPI.BillingUrl, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new SegmentationAPI.UnauthorizedError(
                        _response.error.body as SegmentationAPI.ApiError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.SegmentationAPIError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/billing/checkout");
    }

    /**
     * @param {SegmentationAPI.CreateBillingPortalRequest} request
     * @param {BillingClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link SegmentationAPI.UnauthorizedError}
     * @throws {@link errors.SegmentationAPIError}
     * @throws {@link errors.SegmentationAPITimeoutError}
     *
     * @example
     *     await client.billing.createBillingPortal({
     *         "Idempotency-Key": "Idempotency-Key"
     *     })
     */
    public createBillingPortal(
        request: SegmentationAPI.CreateBillingPortalRequest,
        requestOptions?: BillingClient.RequestOptions,
    ): core.HttpResponsePromise<SegmentationAPI.BillingUrl> {
        return core.HttpResponsePromise.fromPromise(this.__createBillingPortal(request, requestOptions));
    }

    private async __createBillingPortal(
        request: SegmentationAPI.CreateBillingPortalRequest,
        requestOptions?: BillingClient.RequestOptions,
    ): Promise<core.WithRawResponse<SegmentationAPI.BillingUrl>> {
        const { "Idempotency-Key": idempotencyKey } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "Idempotency-Key": idempotencyKey }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SegmentationAPIEnvironment.Default,
                "v1/billing/portal",
            ),
            method: "POST",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as SegmentationAPI.BillingUrl, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new SegmentationAPI.UnauthorizedError(
                        _response.error.body as SegmentationAPI.ApiError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.SegmentationAPIError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/billing/portal");
    }
}
