// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as SegmentationApi from "../../../index.js";

export declare namespace AccountClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class AccountClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<AccountClient.Options>;

    constructor(options: AccountClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * @param {AccountClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link SegmentationApi.UnauthorizedError}
     * @throws {@link errors.SegmentationApiError}
     * @throws {@link errors.SegmentationApiTimeoutError}
     *
     * @example
     *     await client.account.getAccount()
     */
    public getAccount(
        requestOptions?: AccountClient.RequestOptions,
    ): core.HttpResponsePromise<SegmentationApi.Account> {
        return core.HttpResponsePromise.fromPromise(this.__getAccount(requestOptions));
    }

    private async __getAccount(
        requestOptions?: AccountClient.RequestOptions,
    ): Promise<core.WithRawResponse<SegmentationApi.Account>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SegmentationApiEnvironment.Default,
                "v1/account",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as SegmentationApi.Account, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new SegmentationApi.UnauthorizedError(
                        _response.error.body as SegmentationApi.ApiError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.SegmentationApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/account");
    }

    /**
     * @param {AccountClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link SegmentationApi.UnauthorizedError}
     * @throws {@link errors.SegmentationApiError}
     * @throws {@link errors.SegmentationApiTimeoutError}
     *
     * @example
     *     await client.account.getAccountOverview()
     */
    public getAccountOverview(
        requestOptions?: AccountClient.RequestOptions,
    ): core.HttpResponsePromise<SegmentationApi.AccountOverview> {
        return core.HttpResponsePromise.fromPromise(this.__getAccountOverview(requestOptions));
    }

    private async __getAccountOverview(
        requestOptions?: AccountClient.RequestOptions,
    ): Promise<core.WithRawResponse<SegmentationApi.AccountOverview>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SegmentationApiEnvironment.Default,
                "v1/account/overview",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as SegmentationApi.AccountOverview, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new SegmentationApi.UnauthorizedError(
                        _response.error.body as SegmentationApi.ApiError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.SegmentationApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/account/overview");
    }
}
