// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { mergeAdditionalBodyParameters } from "../../../../core/requestBody.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as SegmentationAPI from "../../../index.js";

export declare namespace ApiKeysClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class ApiKeysClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ApiKeysClient.Options>;

    constructor(options: ApiKeysClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * @param {ApiKeysClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link SegmentationAPI.UnauthorizedError}
     * @throws {@link errors.SegmentationAPIError}
     * @throws {@link errors.SegmentationAPITimeoutError}
     *
     * @example
     *     await client.apiKeys.listApiKeys()
     */
    public listApiKeys(
        requestOptions?: ApiKeysClient.RequestOptions,
    ): core.HttpResponsePromise<SegmentationAPI.ApiKeyList> {
        return core.HttpResponsePromise.fromPromise(this.__listApiKeys(requestOptions));
    }

    private async __listApiKeys(
        requestOptions?: ApiKeysClient.RequestOptions,
    ): Promise<core.WithRawResponse<SegmentationAPI.ApiKeyList>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SegmentationAPIEnvironment.Default,
                "v1/api-keys",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as SegmentationAPI.ApiKeyList, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new SegmentationAPI.UnauthorizedError(
                        _response.error.body as SegmentationAPI.ApiError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.SegmentationAPIError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/api-keys");
    }

    /**
     * @param {SegmentationAPI.CreateApiKeyRequest} request
     * @param {ApiKeysClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link SegmentationAPI.UnauthorizedError}
     * @throws {@link errors.SegmentationAPIError}
     * @throws {@link errors.SegmentationAPITimeoutError}
     *
     * @example
     *     await client.apiKeys.createApiKey({
     *         "Idempotency-Key": "Idempotency-Key",
     *         label: "label"
     *     })
     */
    public createApiKey(
        request: SegmentationAPI.CreateApiKeyRequest,
        requestOptions?: ApiKeysClient.RequestOptions,
    ): core.HttpResponsePromise<SegmentationAPI.CreateApiKeyResponse> {
        return core.HttpResponsePromise.fromPromise(this.__createApiKey(request, requestOptions));
    }

    private async __createApiKey(
        request: SegmentationAPI.CreateApiKeyRequest,
        requestOptions?: ApiKeysClient.RequestOptions,
    ): Promise<core.WithRawResponse<SegmentationAPI.CreateApiKeyResponse>> {
        const { "Idempotency-Key": idempotencyKey, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "Idempotency-Key": idempotencyKey }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SegmentationAPIEnvironment.Default,
                "v1/api-keys",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as SegmentationAPI.CreateApiKeyResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new SegmentationAPI.UnauthorizedError(
                        _response.error.body as SegmentationAPI.ApiError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.SegmentationAPIError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/api-keys");
    }

    /**
     * @param {SegmentationAPI.RevokeApiKeyRequest} request
     * @param {ApiKeysClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link SegmentationAPI.UnauthorizedError}
     * @throws {@link errors.SegmentationAPIError}
     * @throws {@link errors.SegmentationAPITimeoutError}
     *
     * @example
     *     await client.apiKeys.revokeApiKey({
     *         keyId: "keyId"
     *     })
     */
    public revokeApiKey(
        request: SegmentationAPI.RevokeApiKeyRequest,
        requestOptions?: ApiKeysClient.RequestOptions,
    ): core.HttpResponsePromise<SegmentationAPI.ApiKeyMutation> {
        return core.HttpResponsePromise.fromPromise(this.__revokeApiKey(request, requestOptions));
    }

    private async __revokeApiKey(
        request: SegmentationAPI.RevokeApiKeyRequest,
        requestOptions?: ApiKeysClient.RequestOptions,
    ): Promise<core.WithRawResponse<SegmentationAPI.ApiKeyMutation>> {
        const { keyId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SegmentationAPIEnvironment.Default,
                `v1/api-keys/${core.url.encodePathParam(keyId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as SegmentationAPI.ApiKeyMutation, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new SegmentationAPI.UnauthorizedError(
                        _response.error.body as SegmentationAPI.ApiError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.SegmentationAPIError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "DELETE", "/v1/api-keys/{keyId}");
    }
}
