// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { mergeAdditionalBodyParameters } from "../../../../core/requestBody.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as SegmentationApi from "../../../index.js";

export declare namespace JobsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class JobsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<JobsClient.Options>;

    constructor(options: JobsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * List async segmentation jobs for the authenticated account.
     *
     * @param {SegmentationApi.ListJobsRequest} request
     * @param {JobsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link SegmentationApi.BadRequestError}
     * @throws {@link SegmentationApi.UnauthorizedError}
     * @throws {@link SegmentationApi.InternalServerError}
     * @throws {@link errors.SegmentationApiError}
     * @throws {@link errors.SegmentationApiTimeoutError}
     *
     * @example
     *     await client.jobs.listJobs()
     */
    public listJobs(
        request: SegmentationApi.ListJobsRequest = {},
        requestOptions?: JobsClient.RequestOptions,
    ): core.HttpResponsePromise<SegmentationApi.JobListResponse> {
        return core.HttpResponsePromise.fromPromise(this.__listJobs(request, requestOptions));
    }

    private async __listJobs(
        request: SegmentationApi.ListJobsRequest = {},
        requestOptions?: JobsClient.RequestOptions,
    ): Promise<core.WithRawResponse<SegmentationApi.JobListResponse>> {
        const { limit, nextToken, jobId, mode, status } = request;
        const _queryParams: Record<string, unknown> = {
            limit,
            nextToken,
            jobId,
            mode: mode != null ? mode : undefined,
            status: status != null ? status : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SegmentationApiEnvironment.Default,
                "v1/jobs",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as SegmentationApi.JobListResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new SegmentationApi.BadRequestError(
                        _response.error.body as SegmentationApi.ApiError,
                        _response.rawResponse,
                    );
                case 401:
                    throw new SegmentationApi.UnauthorizedError(
                        _response.error.body as SegmentationApi.ApiError,
                        _response.rawResponse,
                    );
                case 500:
                    throw new SegmentationApi.InternalServerError(
                        _response.error.body as SegmentationApi.ApiError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.SegmentationApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/jobs");
    }

    /**
     * Queue an image or video segmentation job from previously uploaded task IDs and text prompts. The job runs asynchronously. Poll retrieveJob until status is success, then fetch masks with retrieveJobResult or createJobDownload. Auth is required; there is no anonymous API.
     *
     * @param {SegmentationApi.JobCreateRequest} request
     * @param {JobsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link SegmentationApi.BadRequestError}
     * @throws {@link SegmentationApi.UnauthorizedError}
     * @throws {@link SegmentationApi.PaymentRequiredError}
     * @throws {@link SegmentationApi.ForbiddenError}
     * @throws {@link SegmentationApi.ConflictError}
     * @throws {@link SegmentationApi.InternalServerError}
     * @throws {@link SegmentationApi.BadGatewayError}
     * @throws {@link SegmentationApi.ServiceUnavailableError}
     * @throws {@link errors.SegmentationApiError}
     * @throws {@link errors.SegmentationApiTimeoutError}
     *
     * @example
     *     await client.jobs.createJob({
     *         type: "image",
     *         prompts: ["prompts"],
     *         tasks: ["a1b2c3d4-e5f6-7890-abcd-ef1234567890.png", "b2c3d4e5-f6a7-8901-bcde-f12345678901.jpg"]
     *     })
     */
    public createJob(
        request: SegmentationApi.JobCreateRequest,
        requestOptions?: JobsClient.RequestOptions,
    ): core.HttpResponsePromise<SegmentationApi.AsyncAcceptedResponse> {
        return core.HttpResponsePromise.fromPromise(this.__createJob(request, requestOptions));
    }

    private async __createJob(
        request: SegmentationApi.JobCreateRequest,
        requestOptions?: JobsClient.RequestOptions,
    ): Promise<core.WithRawResponse<SegmentationApi.AsyncAcceptedResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SegmentationApiEnvironment.Default,
                "v1/jobs",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(request, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as SegmentationApi.AsyncAcceptedResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new SegmentationApi.BadRequestError(
                        _response.error.body as SegmentationApi.ApiError,
                        _response.rawResponse,
                    );
                case 401:
                    throw new SegmentationApi.UnauthorizedError(
                        _response.error.body as SegmentationApi.ApiError,
                        _response.rawResponse,
                    );
                case 402:
                    throw new SegmentationApi.PaymentRequiredError(
                        _response.error.body as SegmentationApi.ApiError,
                        _response.rawResponse,
                    );
                case 403:
                    throw new SegmentationApi.ForbiddenError(
                        _response.error.body as SegmentationApi.ApiError,
                        _response.rawResponse,
                    );
                case 409:
                    throw new SegmentationApi.ConflictError(
                        _response.error.body as SegmentationApi.ApiError,
                        _response.rawResponse,
                    );
                case 500:
                    throw new SegmentationApi.InternalServerError(
                        _response.error.body as SegmentationApi.ApiError,
                        _response.rawResponse,
                    );
                case 502:
                    throw new SegmentationApi.BadGatewayError(
                        _response.error.body as SegmentationApi.ApiError,
                        _response.rawResponse,
                    );
                case 503:
                    throw new SegmentationApi.ServiceUnavailableError(
                        _response.error.body as SegmentationApi.ApiError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.SegmentationApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/jobs");
    }

    /**
     * Return the current job status and per-task state. This response does not include masks. Poll until status is success or failed, then call retrieveJobResult or createJobDownload.
     *
     * @param {SegmentationApi.RetrieveJobRequest} request
     * @param {JobsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link SegmentationApi.UnauthorizedError}
     * @throws {@link SegmentationApi.NotFoundError}
     * @throws {@link SegmentationApi.InternalServerError}
     * @throws {@link errors.SegmentationApiError}
     * @throws {@link errors.SegmentationApiTimeoutError}
     *
     * @example
     *     await client.jobs.retrieveJob({
     *         jobId: "jobId"
     *     })
     */
    public retrieveJob(
        request: SegmentationApi.RetrieveJobRequest,
        requestOptions?: JobsClient.RequestOptions,
    ): core.HttpResponsePromise<SegmentationApi.AsyncJobStatusResponse> {
        return core.HttpResponsePromise.fromPromise(this.__retrieveJob(request, requestOptions));
    }

    private async __retrieveJob(
        request: SegmentationApi.RetrieveJobRequest,
        requestOptions?: JobsClient.RequestOptions,
    ): Promise<core.WithRawResponse<SegmentationApi.AsyncJobStatusResponse>> {
        const { jobId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SegmentationApiEnvironment.Default,
                `v1/jobs/${core.url.encodePathParam(jobId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as SegmentationApi.AsyncJobStatusResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new SegmentationApi.UnauthorizedError(
                        _response.error.body as SegmentationApi.ApiError,
                        _response.rawResponse,
                    );
                case 404:
                    throw new SegmentationApi.NotFoundError(
                        _response.error.body as SegmentationApi.ApiError,
                        _response.rawResponse,
                    );
                case 500:
                    throw new SegmentationApi.InternalServerError(
                        _response.error.body as SegmentationApi.ApiError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.SegmentationApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/jobs/{jobId}");
    }

    /**
     * Returns the result manifest with short-lived signed URLs for owned output assets.
     *
     * @param {SegmentationApi.RetrieveJobResultRequest} request
     * @param {JobsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link SegmentationApi.UnauthorizedError}
     * @throws {@link SegmentationApi.NotFoundError}
     * @throws {@link SegmentationApi.ConflictError}
     * @throws {@link SegmentationApi.InternalServerError}
     * @throws {@link errors.SegmentationApiError}
     * @throws {@link errors.SegmentationApiTimeoutError}
     *
     * @example
     *     await client.jobs.retrieveJobResult({
     *         jobId: "jobId"
     *     })
     */
    public retrieveJobResult(
        request: SegmentationApi.RetrieveJobResultRequest,
        requestOptions?: JobsClient.RequestOptions,
    ): core.HttpResponsePromise<SegmentationApi.JobResultResponse> {
        return core.HttpResponsePromise.fromPromise(this.__retrieveJobResult(request, requestOptions));
    }

    private async __retrieveJobResult(
        request: SegmentationApi.RetrieveJobResultRequest,
        requestOptions?: JobsClient.RequestOptions,
    ): Promise<core.WithRawResponse<SegmentationApi.JobResultResponse>> {
        const { jobId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SegmentationApiEnvironment.Default,
                `v1/jobs/${core.url.encodePathParam(jobId)}/result`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as SegmentationApi.JobResultResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new SegmentationApi.UnauthorizedError(
                        _response.error.body as SegmentationApi.ApiError,
                        _response.rawResponse,
                    );
                case 404:
                    throw new SegmentationApi.NotFoundError(
                        _response.error.body as SegmentationApi.ApiError,
                        _response.rawResponse,
                    );
                case 409:
                    throw new SegmentationApi.ConflictError(
                        _response.error.body as SegmentationApi.ApiError,
                        _response.rawResponse,
                    );
                case 500:
                    throw new SegmentationApi.InternalServerError(
                        _response.error.body as SegmentationApi.ApiError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.SegmentationApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/jobs/{jobId}/result");
    }

    /**
     * Poll an archive request started with createJobDownload. When status is ready, downloadUrl is a short-lived presigned zip containing output_manifest.json and mask artifacts.
     *
     * @param {SegmentationApi.RetrieveJobDownloadRequest} request
     * @param {JobsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link SegmentationApi.UnauthorizedError}
     * @throws {@link SegmentationApi.NotFoundError}
     * @throws {@link SegmentationApi.ConflictError}
     * @throws {@link SegmentationApi.InternalServerError}
     * @throws {@link errors.SegmentationApiError}
     * @throws {@link errors.SegmentationApiTimeoutError}
     *
     * @example
     *     await client.jobs.retrieveJobDownload({
     *         jobId: "jobId"
     *     })
     */
    public retrieveJobDownload(
        request: SegmentationApi.RetrieveJobDownloadRequest,
        requestOptions?: JobsClient.RequestOptions,
    ): core.HttpResponsePromise<SegmentationApi.JobDownloadResponse> {
        return core.HttpResponsePromise.fromPromise(this.__retrieveJobDownload(request, requestOptions));
    }

    private async __retrieveJobDownload(
        request: SegmentationApi.RetrieveJobDownloadRequest,
        requestOptions?: JobsClient.RequestOptions,
    ): Promise<core.WithRawResponse<SegmentationApi.JobDownloadResponse>> {
        const { jobId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SegmentationApiEnvironment.Default,
                `v1/jobs/${core.url.encodePathParam(jobId)}/download`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as SegmentationApi.JobDownloadResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new SegmentationApi.UnauthorizedError(
                        _response.error.body as SegmentationApi.ApiError,
                        _response.rawResponse,
                    );
                case 404:
                    throw new SegmentationApi.NotFoundError(
                        _response.error.body as SegmentationApi.ApiError,
                        _response.rawResponse,
                    );
                case 409:
                    throw new SegmentationApi.ConflictError(
                        _response.error.body as SegmentationApi.ApiError,
                        _response.rawResponse,
                    );
                case 500:
                    throw new SegmentationApi.InternalServerError(
                        _response.error.body as SegmentationApi.ApiError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.SegmentationApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/jobs/{jobId}/download");
    }

    /**
     * Start or reuse a zip archive of a successful job's outputs. Returns pending until the archive is built. The job must already be success; otherwise the API returns 409.
     *
     * @param {SegmentationApi.CreateJobDownloadRequest} request
     * @param {JobsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link SegmentationApi.UnauthorizedError}
     * @throws {@link SegmentationApi.NotFoundError}
     * @throws {@link SegmentationApi.ConflictError}
     * @throws {@link SegmentationApi.InternalServerError}
     * @throws {@link errors.SegmentationApiError}
     * @throws {@link errors.SegmentationApiTimeoutError}
     *
     * @example
     *     await client.jobs.createJobDownload({
     *         jobId: "jobId"
     *     })
     */
    public createJobDownload(
        request: SegmentationApi.CreateJobDownloadRequest,
        requestOptions?: JobsClient.RequestOptions,
    ): core.HttpResponsePromise<SegmentationApi.JobDownloadResponse> {
        return core.HttpResponsePromise.fromPromise(this.__createJobDownload(request, requestOptions));
    }

    private async __createJobDownload(
        request: SegmentationApi.CreateJobDownloadRequest,
        requestOptions?: JobsClient.RequestOptions,
    ): Promise<core.WithRawResponse<SegmentationApi.JobDownloadResponse>> {
        const { jobId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SegmentationApiEnvironment.Default,
                `v1/jobs/${core.url.encodePathParam(jobId)}/download`,
            ),
            method: "POST",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as SegmentationApi.JobDownloadResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new SegmentationApi.UnauthorizedError(
                        _response.error.body as SegmentationApi.ApiError,
                        _response.rawResponse,
                    );
                case 404:
                    throw new SegmentationApi.NotFoundError(
                        _response.error.body as SegmentationApi.ApiError,
                        _response.rawResponse,
                    );
                case 409:
                    throw new SegmentationApi.ConflictError(
                        _response.error.body as SegmentationApi.ApiError,
                        _response.rawResponse,
                    );
                case 500:
                    throw new SegmentationApi.InternalServerError(
                        _response.error.body as SegmentationApi.ApiError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.SegmentationApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/jobs/{jobId}/download");
    }
}
