// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { mergeAdditionalBodyParameters } from "../../../../core/requestBody.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as SegmentationAPI from "../../../index.js";

export declare namespace UploadsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class UploadsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<UploadsClient.Options>;

    constructor(options: UploadsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Request a short-lived S3 PUT URL and a task ID for an image or video file. PUT the bytes to uploadUrl with the same Content-Type, then pass the task ID to createJob.
     *
     * @param {SegmentationAPI.PresignUploadRequest} request
     * @param {UploadsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link SegmentationAPI.BadRequestError}
     * @throws {@link SegmentationAPI.UnauthorizedError}
     * @throws {@link SegmentationAPI.InternalServerError}
     * @throws {@link errors.SegmentationAPIError}
     * @throws {@link errors.SegmentationAPITimeoutError}
     *
     * @example
     *     await client.uploads.createUploadPresign({
     *         contentType: "image/png"
     *     })
     */
    public createUploadPresign(
        request: SegmentationAPI.PresignUploadRequest,
        requestOptions?: UploadsClient.RequestOptions,
    ): core.HttpResponsePromise<SegmentationAPI.PresignUploadResponse> {
        return core.HttpResponsePromise.fromPromise(this.__createUploadPresign(request, requestOptions));
    }

    private async __createUploadPresign(
        request: SegmentationAPI.PresignUploadRequest,
        requestOptions?: UploadsClient.RequestOptions,
    ): Promise<core.WithRawResponse<SegmentationAPI.PresignUploadResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SegmentationAPIEnvironment.Default,
                "v1/uploads/presign",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(request, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as SegmentationAPI.PresignUploadResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new SegmentationAPI.BadRequestError(
                        _response.error.body as SegmentationAPI.ApiError,
                        _response.rawResponse,
                    );
                case 401:
                    throw new SegmentationAPI.UnauthorizedError(
                        _response.error.body as SegmentationAPI.ApiError,
                        _response.rawResponse,
                    );
                case 500:
                    throw new SegmentationAPI.InternalServerError(
                        _response.error.body as SegmentationAPI.ApiError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.SegmentationAPIError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/uploads/presign");
    }
}
